# SPLIT & SCALE:
- Goal: leave this section with **2 dataframes (train & test)** and **scaled data**

- `split_scale.py`: split data, scale data (create scaler, fit the scaler to train and transform the train and test using that scaler)

In [2]:
import pandas as pd
import numpy as np


from prep import prep_data

import warnings
warnings.filterwarnings('ignore')

In [3]:
df = prep_data()
df.head()

,home_size,bedroomcnt,bathroomcnt,tax_rate,yearbuilt,home_value,bedrm_per_bathrm
0,1604.0,4.0,2.0,0.012220,1950.0,498347.0,2.0
1,2384.0,3.0,3.0,0.012146,1937.0,549917.0,1.0
2,1574.0,3.0,2.0,0.016476,1990.0,235272.0,1.5
3,1619.0,2.0,2.0,0.012371,1983.0,340000.0,1.0
6,1721.0,4.0,2.0,0.010892,1952.0,629951.0,2.0

## Split Data

In [4]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(df, train_size = .8, random_state = 123)

In [5]:
train.shape[0],test.shape[0]

(9896, 2475)

## Scale Data

In [7]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(copy=True, feature_range=(0,1)).fit(train)

train_scaled = pd.DataFrame(scaler.transform(train), columns=train.columns.values).set_index([train.index.values])

test_scaled = pd.DataFrame(scaler.transform(test), columns=test.columns.values).set_index([test.index.values])

train_scaled.head()

,home_size,bedroomcnt,bathroomcnt,tax_rate,yearbuilt,home_value,bedrm_per_bathrm
14140,0.361642,0.6,0.0,0.066475,0.496296,0.421163,0.6
12285,0.225008,0.4,0.0,0.397378,0.496296,0.302009,0.4
13357,0.347853,0.6,0.5,0.197533,0.503704,0.324614,0.3
14130,0.282357,0.6,0.5,0.089810,0.518519,0.228193,0.3
1187,0.524914,0.6,1.0,0.668349,0.814815,0.248124,0.2

In [1]:
from split_scale import split_scale

In [3]:
train, test, scaler = split_scale()
train.head()

,home_size,bedroomcnt,bathroomcnt,tax_rate,yearbuilt,home_value,bedrm_per_bathrm
14140,0.361642,0.6,0.0,0.066475,0.496296,0.421163,0.6
12285,0.225008,0.4,0.0,0.397378,0.496296,0.302009,0.4
13357,0.347853,0.6,0.5,0.197533,0.503704,0.324614,0.3
14130,0.282357,0.6,0.5,0.089810,0.518519,0.228193,0.3
1187,0.524914,0.6,1.0,0.668349,0.814815,0.248124,0.2